<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock %}-测试工具平台</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=
            "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dropdown_menu.css') }}">
    <style>
    *, *:before, *:after {
    box-sizing: border-box;
    }
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background-color: #ecf0f9;
      background-attachment: fixed;
    }
    </style>

    {% block head %}{% endblock %}

</head>
<body>
   <nav class="nav nav5">
            <ul>
                {% if current_user and current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('user.members') }}">{{ current_user.username }}</a>
                    <ul>
                        <a href="{{ url_for('user.change_pwd') }}">Change Password</a>
                        <li><a href="{{ url_for('public.logout') }}">Logout</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('tools.cards') }}">Tools</a>
                    <ul>
                        <li><a href="{{ url_for('tools.upload_file') }}">Generate Tool</a></li>
                        <li><a href="{{ url_for('report.report') }}">Report Tool</a></li>
                    </ul>
                </li>
                    {% if current_user.is_admin %}
                    <li>
                        <a href="{{ url_for('console.home') }}">Console</a>
                        <ul>
                            <a href="{{ url_for('public.register') }}">Register</a>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Demo</a>
                        <ul>
                            <li><a href="{{ url_for('public.demo', demo_id='ajax-login') }}">ajax-login</a></li>
                            <li><a href="{{ url_for('public.demo', demo_id='circle-color-picker') }}">circle-color-picker</a></li>
                            <li><a href="{{ url_for('public.demo', demo_id='css3-hyperlink-animation') }}">css3-hyperlink-animation</a></li>
                            <li><a href="{{ url_for('public.demo', demo_id='html5-svg-weather-card') }}">html5-svg-weather-card</a></li>
                            <li><a href="{{ url_for('public.demo', demo_id='jquery-css3-animated-login') }}">jquery-css3-animated-login</a></li>
                            <li><a href="{{ url_for('public.demo', demo_id='jquery-dropdown-contextmenu') }}">jquery-dropdown-contextmenu</a></li>
                            <li><a href="{{ url_for('public.demo', demo_id='jquery-jbox') }}">jquery-jbox</a></li>
                        </ul>
                    </li>
                    {% endif %}
                {% else %}
                <li><a href="{{ url_for('public.login') }}">Login</a></li>
                {% endif %}
                <li><a href="{{ url_for('public.about') }}">About</a>
                    <ul>
                        <li><a href="{{ url_for('public.egg') }}">Egg</a></li>
                    </ul>
                </li>
            </ul>
        </nav>


      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="box-body">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" style="text-align: center">

                        <strong>{{ message }}</strong>
                        <button type="button" class="button.close" onClick="JavaScript :location.replace(location.href);">x
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
      {% endwith %}



 {% block main %}{% endblock %}



</body>


</html>
