{% extends 'base.html' %}

{% block title %}{{ current_user.username }}{% endblock %}

{% block main %}
    <div class="container">
        <h1>Welcome {{ current_user.username }}</h1>
        <h2>email: {{ current_user.email }}</h2>
        <h2>created_at: {{ current_user.created_at }}</h2>
        <h2>first_name: {{ current_user.first_name }}</h2>
        <h2>last_name: {{ current_user.last_name }}</h2>
        <h2>active: {{ current_user.active }}</h2>
        <h2>is_admin: {{ current_user.is_admin }}</h2>
        <h3>This is the members-only page.</h3>
    </div>
    <p> Click <a href="{{ url_for('public.login') }}">here</a> to your home page.</p>
{% endblock %}


